# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv312/
env/
ENV/

# Logs & screenshots
*.log
data/logs/*.png
data/logs/*.html
data/logs/*.json

# Cookies & Secrets
cookie.txt
api_key.txt
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Videos
data/videos/*.mp4
